@{
    ViewBag.Title = "Về chúng tôi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div class="row">
        <div class="col-md-8">
            <h3>Về Boatify</h3>
            <p>Boatify là hệ thống đặt vé tàu hàng đầu tại Việt Nam, cung cấp dịch vụ đặt vé trực tuyến nhanh chóng, tiện lợi và đáng tin cậy.</p>

            <h4>Sứ mệnh của chúng tôi</h4>
            <p>Chúng tôi cam kết mang đến cho khách hàng trải nghiệm đặt vé tàu tốt nhất với công nghệ hiện đại và dịch vụ khách hàng xuất sắc.</p>

            <h4>Tại sao chọn Boatify?</h4>
            <ul>
                <li>Đặt vé trực tuyến 24/7</li>
                <li>Thanh toán an toàn và bảo mật</li>
                <li>Hỗ trợ khách hàng tận tình</li>
                <li>Giá vé cạnh tranh</li>
                <li>Xác nhận vé tức thì</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Thông tin liên hệ</h4>
            <address>
                <strong>Boatify Vietnam</strong><br>
                123 Nguyễn Văn Linh<br>
                Đà Nẵng, Việt Nam<br>
                <abbr title="Điện thoại">Điện thoại:</abbr> 1900-1234
            </address>
            <address>
                <strong>Email hỗ trợ</strong><br>
                <a href="mailto:support@boatify.vn">support@boatify.vn</a>
            </address>
        </div>
    </div>
</main>